name: so-029-outputs

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
 job1:
  runs-on: ubuntu-latest
  outputs:
    outputs1: ${{ steps.step1.outputs.test }}
    outputs2: ${{ steps.step2.outputs.test }}
  steps:
  - id: step1
    run: echo "::set-output name=test::hello"
  - id: step2
    run: echo "::set-output name=test::world"

 job2:
  runs-on: ubuntu-latest
  needs: job1
  steps:
  - run: echo ${{ needs.job1.outputs.output1 }} ${{ needs.job1.outputs.output2 }}
